<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %>></title>
    <link rel="stylesheet" href="/libs/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/libs/bootstrap/bootstrap.min.js"></script>
</head>
<body>

